// *** Vendor ***
// Bootstrap
@import "./vendors/bootstrap/bootstrap.custom";

// *** Settings ***
// Bass settings
// Colors
@import "./styles.variables";
// @import "vendors/font-awesome/all";

// *** Utils ***
@import "./utilities/misc";
// Transition
// Animations

// *** Base ***
@import "./base/core";
// Typography

// *** Components ***
@import "./components/badges";
@import "./components/content-card";
@import "./components/content-topbar";
@import "./components/header";
@import "./components/list-filters";
@import "./components/nav-view";
@import "./components/quick-sidebar";

.pl-body-inner--lightgray {
    background-color: $gray-100;
}

.pl-content-list {
    list-style: none;
    margin: 0;
    padding: 0;
}