<div class="pl-root pl-aside-left--fixed pl-header--fixed pl-content-topbar--fixed" [ngClass]="{
    'pl-aside-left--minimize': !isMenuActiveOnDesktop, 
    'pl-aside-left--on': isMenuActiveOnMobile,
    'pl-quick-sidebar--on': isQuickSidebarActive}">

  <header id="pl-header" class="pl-header pl-header--light">
    <div class="pl-header__left">
      <div class="pl-aside-toggler">
        <button class="pl-aside-toggler__btn" (click)="toggleMenu()">
          <span class="far fa-bars"></span>
        </button>
      </div>

      <div class="pl-brand pl-brand--plugilo d-none d-lg-block">
        <a [routerLink]="['/company']" class="text-dark">
          <span class="pl-icon-plug-a pl-brand__icon"></span>
          <span>plugilo</span>
        </a>
      </div>
    </div>

    <div class="pl-header__center">
      <div class="pl-header__content-title" *ngIf="!isListContext">
        <div class="text-small text-muted">DCI AG</div>
        <div class="font-weight-bold"><span class="far fa-building"></span> Hello Network</div>
      </div>

      <div class="pl-header-search" *ngIf="isListContext">
        <span class="far fa-search mr-2"></span>
        <span class="text-muted-2">Search box placeholder</span>
      </div>
    </div>

    <div class="pl-topbar">
      <ul class="pl-topbar-nav pl-topbar-nav--inline mr-auto">
        <li class="pl-topbar-nav__item" *ngIf="!isListContext">
          <a class="pl-topbar-nav__link" href="#">
            <span class="pl-topbar-nav__link-icon">
              <span class="pl-topbar-nav__link-icon-wrapper">
                <span class="far fa-search pl-topbar-nav__icon"></span>
              </span>
            </span>
          </a>
        </li>
        <li class="pl-topbar-nav__item d-none d-lg-flex">
          <a class="pl-topbar-nav__link" href="#">
            <span class="pl-topbar-nav__link-icon">
              <span class="pl-topbar-nav__link-icon-wrapper">
                <span class="far fa-bell pl-topbar-nav__icon"></span>
              </span>
            </span>
          </a>
        </li>
        <li class="pl-topbar-nav__item d-none d-lg-flex">
          <a class="pl-topbar-nav__link" href="#">
            <span class="pl-topbar-nav__link-badge pl-badge pl-badge--danger pl-badge--dot-small"></span>
            <span class="pl-topbar-nav__link-icon">
              <span class="pl-topbar-nav__link-icon-wrapper">
                <span class="far fa-envelope pl-topbar-nav__icon"></span>
              </span>
            </span>
          </a>
        </li>
        <li class="pl-topbar-nav__item d-none d-lg-flex">
          <a class="pl-topbar-nav__link" href="#">
            <span class="pl-topbar-nav__link-badge pl-badge pl-badge--danger pl-badge--dot-small"></span>
            <span class="pl-topbar-nav__link-icon">
              <span class="pl-topbar-nav__link-icon-wrapper">
                <span class="far fa-globe pl-topbar-nav__icon"></span>
              </span>
            </span>
          </a>
        </li>
        <li class="pl-topbar-nav__item">
          <a class="pl-topbar-nav__link" (click)="toggleQuickSidebar()">
            <span class="pl-topbar-nav__userpic">
              <img class="rounded-circle" src="https://keenthemes.com/metronic/preview/assets/app/media/img/users/user4.jpg" alt="">
            </span>
          </a>
        </li>
      </ul>
    </div>
  </header>

  <!-- <div class="pl-header-shadow shadow-sm"></div> -->

  <div class="pl-body">
    <div class="pl-content-topbar shadow-sm d-flex">
      <ul class="nav pl-content-tabs" *ngIf="!isListContext">
        <li class="nav-item pl-nav__item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
          true}">
          <a class="nav-link pl-nav__link" [routerLink]="['/company']">
            <span class="far fa-eye"></span>
            Web
          </a>
        </li>
        <li class="nav-item pl-nav__item" routerLinkActive="active">
          <a class="nav-link pl-nav__link" [routerLink]="['/company', 'data']">
            <span class="far fa-eye"></span>
            Data
          </a>
        </li>
        <li class="nav-item pl-nav__item" routerLinkActive="active">
          <a class="nav-link pl-nav__link" [routerLink]="['/company', 'highlights']">
            <span class="far fa-box"></span>
            Highlights
          </a>
        </li>
        <li class="nav-item pl-nav__item" routerLinkActive="active">
          <a class="nav-link pl-nav__link" [routerLink]="['/company', 'products']">
            <span class="far fa-box"></span>
            Products
          </a>
        </li>
        <li class="nav-item pl-nav__item" routerLinkActive="active">
          <a class="nav-link pl-nav__link" [routerLink]="['/company', 'companies']">
            <span class="far fa-building"></span>
            Companies</a>
        </li>
        <li class="nav-item pl-nav__item " routerLinkActive="active">
          <a class="nav-link pl-nav__link" [routerLink]="['/company', 'users']">
            <span class="far fa-users"></span>
            Users</a>
        </li>
        <li class="nav-item pl-nav__item " routerLinkActive="active">
          <a class="nav-link pl-nav__link" [routerLink]="['/company', 'lists']">
            <span class="far fa-list"></span>
            Lists</a>
        </li>
      </ul>

      <ul class="nav pl-content-actions d-lg-none ml-auto">
        <li class="nav-item">
          <a class="nav-link">
            <span class="far fa-dot-circle"></span>
          </a>
        </li>
      </ul>

      <ul class="nav pl-content-actions d-none d-lg-flex ml-auto">
        <li class="nav-item">
          <a class="nav-link text-muted" href="">
            <span class="pl-icon-plug-a pl-nav__link-icon"></span>
            <span class="">Connect</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-muted">
            <span class="far fa-comment-alt pl-nav__link-icon"></span>
            <span>Chat</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-muted">
            <span class="far fa-share-alt pl-nav__link-icon"></span>
            <span>Share</span>
          </a>
        </li>
      </ul>
    </div>

    <!-- Aside Left -->
    <div class="pl-aside-left pl-aside-left--skin-light">
      <div class="pl-brand pl-brand--plugilo d-lg-none">
        <a [routerLink]="['/company']">
          <span class="pl-icon-plug-a pl-brand__icon"></span>
          <span>plugilo</span>
        </a>
      </div>

      <ul class="pl-navviews">
        <li class="pl-navview pl-navview--primary">
          <header class="pl-navview__header ">
            <span class="pl-navview__header-icon far fa-bell"></span>
            <span class="pl-navview__header-text">DCI Media</span>
            <span class="pl-navview__header-expander"></span>
          </header>

          <div class="pl-navview__body">
            <ul class="pl-navview__items">
              <li class="pl-navview__item">
                <a class="pl-navview__item-link">
                  <span class="pl-navview__item-text">Overview</span>
                </a>
              </li>
              <li class="pl-navview__item">
                <span class="pl-navview__item-expander fal fa-caret-right"></span>
                <a class="pl-navview__item-link">
                  <span class="pl-navview__item-text">Platform</span>
                </a>
              </li>
              <li class="pl-navview__item">
                <span class="pl-navview__item-expander"></span>
                <a class="pl-navview__item-link">
                  <span class="pl-navview__item-text">Brands</span>
                </a>
              </li>
              <li class="pl-navview__item">
                <a class="pl-navview__item-link">
                  <span class="pl-navview__item-expander"></span>
                  <span class="pl-navview__item-text">Notebook</span>
                </a>
              </li>
              <li class="pl-navview__item">
                <span class="pl-navview__item-expander fal fa-caret-right"></span>
                <a class="pl-navview__item-link">
                  <span class="pl-navview__item-text">Samsung - Hotdeals</span>
                </a>

                <div>
                  <ul class="pl-navview__items">
                    <li class="pl-navview__item">
                      <span class="pl-navview__item-expander fal fa-caret-right"></span>
                      <a class="pl-navview__item-link">
                        <span class="pl-navview__item-text">Galaxy Note 3</span>
                      </a>
                    </li>
                    <li class="pl-navview__item">
                      <a class="pl-navview__item-link">
                        <span class="pl-navview__item-text">Sony</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </li>

        <li class="pl-navview">
          <header class="pl-navview__header">
            <span class="pl-navview__header-icon far fa-list"></span>
            <span class="pl-navview__header-text">My Lists</span>
            <span class="pl-navview__header-expander"></span>
          </header>

          <div class="pl-navview__body">
            <ul class="pl-navview__items">
              <li class="pl-navview__item">
                <a class="pl-navview__item-link">
                  <span class="pl-navview__item-text">Bookmarks</span>
                </a>
              </li>
              <li class="pl-navview__item">
                <span class="pl-navview__item-expander fal fa-caret-right"></span>
                <a class="pl-navview__item-link">
                  <span class="pl-navview__item-text">DCI Test</span>
                </a>
              </li>
              <li class="pl-navview__item">
                <span class="pl-navview__item-expander"></span>
                <a class="pl-navview__item-link">
                  <span class="pl-navview__item-text">Lifestyle</span>
                </a>
              </li>
              <li class="pl-navview__item">
                <a class="pl-navview__item-link">
                  <span class="pl-navview__item-expander"></span>
                  <span class="pl-navview__item-text">Shopping List</span>
                </a>
              </li>
            </ul>
          </div>
        </li>

        <li class="pl-navview">
          <header class="pl-navview__header">
            <span class="pl-navview__header-icon far fa-clock"></span>
            <span class="pl-navview__header-text">Recent Items</span>
            <span class="pl-navview__header-expander"></span>
          </header>

          <div class="pl-navview__body">
            <ul class="pl-navview__items">
              <li class="pl-navview__item">
                <a class="pl-navview__item-link">
                  <span class="pl-navview__item-text">DCI AG</span>
                </a>
              </li>
              <li class="pl-navview__item">
                <span class="pl-navview__item-expander fal fa-caret-right"></span>
                <a class="pl-navview__item-link">
                  <span class="pl-navview__item-text">Samsung - Hotdeals</span>
                </a>

                <div>
                  <ul class="pl-navview__items">
                    <li class="pl-navview__item">
                      <span class="pl-navview__item-expander fal fa-caret-right"></span>
                      <a class="pl-navview__item-link">
                        <span class="pl-navview__item-text">Galaxy Note 3</span>
                      </a>
                    </li>
                    <li class="pl-navview__item">
                      <a class="pl-navview__item-link">
                        <span class="pl-navview__item-text">Sony</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="pl-navview__item">
                <span class="pl-navview__item-expander"></span>
                <a class="pl-navview__item-link">
                  <span class="pl-navview__item-text">DCI Informer KW22</span>
                </a>
              </li>
              <li class="pl-navview__item">
                <a class="pl-navview__item-link">
                  <span class="pl-navview__item-expander"></span>
                  <span class="pl-navview__item-text">Shopping List</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
    <div class="pl-aside-left-overlay" (click)="toggleMenu()"></div>

    <!-- Aside Right -->
    <div class="pl-quick-sidebar">
      Notifications, Inbox, ...will be here
    </div>
    <div class="pl-quick-sidebar-overlay" (click)="toggleQuickSidebar()"></div>

    <!-- Main Content -->
    <div class="flex-fill pl-body-inner--lightgray">
      <!-- Apparently we had reached a great height in the atmosphere, for the sky was a dead black, and the stars had ceased to twinkle.
      By the same illusion which lifts the horizon of the sea to the level of the spectator on a hillside, the sable cloud
      beneath was dished out, and the car seemed to float in the middle of an immense dark sphere, whose upper half was strewn
      with silver. Looking down into the dark gulf below, I could see a ruddy light streaming through a rift in the clouds.


      <app-bootstrapall></app-bootstrapall> -->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<!-- <div>
    <section >
      <app-header></app-header>
    </section>
  
    <div class="container-fluid">
        <div class="row">
          <nav class="col-md-2 d-none d-md-block bg-light sidebar" >
            <div class="sidebar-sticky">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link" routerLink="/" 
                    [routerLinkActiveOptions]="{ exact: true }"
                    routerLinkActive="active">
                    <span data-feather="home"></span>
                    Home
                    <span class="sr-only">(current)</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/company" 
                    routerLinkActive="active">
                    <span data-feather="file"></span>
                    Company
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/profile" 
                    routerLinkActive="active">
                    <span data-feather="file"></span>
                    Profile
                  </a>
                </li>
              </ul>
            </div>
          </nav>
      
          <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-0">
              <router-outlet></router-outlet>
          </main>
        </div>
      </div>
  </div> -->