<div class="app-root main-aside-left-minimize main-header-fixed"
  [ngClass]="{'main-aside-left-fixed': isMenuActive}">

  <header id="main-header" class="main-header">
    <a class="brand-toggler float-right" (click)="toggleMenu()">Toggle</a>
  </header>

  
  <div class="main-body">
    <div class="main-aside-left" [ngClass]="{'main-aside-left-on': isMenuActive}">
      ASIDE_LEFT  
    </div>

    <div class="main-aside-left-overlay"></div>
  </div>
</div>

<!-- <div>
    <section >
      <app-header></app-header>
    </section>
  
    <div class="container-fluid">
        <div class="row">
          <nav class="col-md-2 d-none d-md-block bg-light sidebar" >
            <div class="sidebar-sticky">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link" routerLink="/" 
                    [routerLinkActiveOptions]="{ exact: true }"
                    routerLinkActive="active">
                    <span data-feather="home"></span>
                    Home
                    <span class="sr-only">(current)</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/company" 
                    routerLinkActive="active">
                    <span data-feather="file"></span>
                    Company
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/profile" 
                    routerLinkActive="active">
                    <span data-feather="file"></span>
                    Profile
                  </a>
                </li>
              </ul>
            </div>
          </nav>
      
          <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-0">
              <router-outlet></router-outlet>
          </main>
        </div>
      </div>
  </div> -->