<!-- TODO: separate it into component -->
<li class="pl-content-card pl-content-card--line shadow-sm" *ngFor="let content of [1,2,3,4]">

  <!-- Card top -->
  <div class="px-2 py-1 pl-content-card__body">
    Thomas Edison
  </div>

  <!-- Card image -->
  <!-- pl-content-card__img--top, pl-content-card__img--bottom -->
  <div class="pl-content-card__img pl-content-card__img--square">
    <img class="img-fluid" src="https://vignette.wikia.nocookie.net/moviedatabase/images/8/8c/Tony_Stark.jpg/revision/latest?cb=20150430161420"
      alt="">
  </div>

  <!-- Card bottom -->
  <div class="px-2 py-1">
    <span class="text-small text-muted">Friends</span>
    <ul class="float-right list-inline text-small text-muted">
      <li class="list-inline-item">
        <span class="pl-icon-plug-a mr-1"></span>
        <span>23</span>
      </li>
      <li class="list-inline-item">
        <span class="fa fa-eye  mr-1"></span>
        <span>4T</span>
      </li>
      <li class="list-inline-item">
        <span class="far fa-comment-alt mr-1"></span>
        <span>12</span>
      </li>
    </ul>
  </div>
</li>