<div class="pl-body-inner pl-body-inner--lightgray container-fluid">
    <list-filters></list-filters>
  
    <ul class="pl-content-list pl-content-list--grid pl-content-list--lines">
  
      <!-- TODO: separate it into component -->
      <li class="pl-content-card shadow-sm" *ngFor="let content of [1,2,3,4]">
  
        <!-- Card top -->
        <div class="px-2 py-1 pl-content-card__body">
          <!-- Checkbox -->
          <div class="custom-control custom-checkbox pl-custom-checkbox mr-2 d-inline-block">
            <input type="checkbox" class="custom-control-input" id="customControlAutosizing" checked>
            <label class="custom-control-label" for="customControlAutosizing">ALSO</label>
          </div>
  
          <!-- Date Time         -->
          <span class="text-small text-muted-2 mr-2">15 Mar 18</span>
  
          <!-- State -->
          <span class="badge badge-warning mr-2">NEW</span>
  
          <!-- Certified -->
          <div class="float-right text-small text-muted">
            <span class="fa fa-shield-alt"></span>
          </div>
        </div>
  
        <!-- Card image -->
        <!-- pl-content-card__img--top, pl-content-card__img--bottom -->
        <div class="pl-content-card__img">
          <img class="img-fluid" src="http://img.freepik.com/free-vector/abstract-background-with-colorful-rounded-shapes_23-2147844162.jpg?size=500&ext=jpg"
            alt="">
        </div>
  
        <div class="pl-content-card__title p-2">
          <p>
            Apparently we had reached a great height in the atmosphere
          </p>
          <div>
            <a href="">Jetzt ansehen</a>
          </div>
        </div>
  
        <!-- Card bottom -->
        <div class="px-2 py-1">
          <span class="text-small text-muted">Bookmark</span>
          <ul class="float-right list-inline text-small text-muted">
            <li class="list-inline-item">
              <span class="pl-icon-plug-a mr-1"></span>
              <span>23</span>
            </li>
            <li class="list-inline-item">
              <span class="fa fa-eye  mr-1"></span>
              <span>4T</span>
            </li>
            <li class="list-inline-item">
              <span class="far fa-comment-alt mr-1"></span>
              <span>12</span>
            </li>
          </ul>
        </div>
      </li>
  
  
    </ul>
  </div>