<div class="pl-body-inner pl-body-inner--lightgray container-fluid">
  <div class="d-flex py-2 mb-3">
    <div class="text-black-50">
      <span class="fa fa-th-large mr-2"></span>
      <span class="">20 of 45 items</span>
    </div>

    <form class="form-inline ml-auto pl-list-filters pl-list-filters--default">
      <div class="form-group ml-3">
        <label for="" class="mr-2 text-black-50">List</label>
        <select name="" id="" class="form-control form-control-sm">
          <option value="">All</option>
        </select>
      </div>

      <div class="form-group ml-3">
        <label for="" class="mr-2 text-black-50">Type</label>
        <select name="" id="" class="form-control form-control-sm">
          <option value="">All</option>
        </select>
      </div>

      <div class="form-group ml-3">
        <label for="" class="mr-2 text-black-50">From</label>
        <select name="" id="" class="form-control form-control-sm">
          <option value="">All</option>
        </select>
      </div>

      <div class="form-group ml-3">
        <label for="" class="mr-2 text-black-50">Area</label>
        <select name="" id="" class="form-control form-control-sm">
          <option value="">Germany</option>
        </select>
      </div>

      <div class="form-group ml-3">
        <label for="" class="mr-2 text-black-50">Time</label>
        <select name="" id="" class="form-control form-control-sm">
          <option value="">All</option>
        </select>
      </div>

      <div class="form-group ml-3">
        <label for="" class="mr-2 text-black-50">Sort by</label>
        <select name="" id="" class="form-control form-control-sm">
          <option value="">Newest</option>
        </select>
      </div>

      <div class="form-group ml-3">
        <label for="" class="mr-2 text-black-50">View</label>
        <select name="" id="" class="form-control form-control-sm">
          <option value="">Big boxes</option>
        </select>
      </div>
    </form>
  </div>

  <ul class="pl-content-list pl-content-list--grid pl-content-list--lines">
    <li class="pl-content-item pl-content--card pl-content--line shadow-sm" *ngFor="let content of [1,2,3,4,5]">
      <div class="pl-content-item__top p-2">
        <div class="custom-control custom-checkbox mr-2">
          <input type="checkbox" class="custom-control-input" id="customControlAutosizing" checked>
          <label class="custom-control-label text-black-50" for="customControlAutosizing">ALSO</label>
        </div>
      </div>

      <div class="pl-content-item__cover">
        <img class="img-fluid" src="http://img.freepik.com/free-vector/abstract-background-with-colorful-rounded-shapes_23-2147844162.jpg?size=500&ext=jpg"
          alt="">
      </div>

      <div class="pl-content-item__title px-2 py-1">
        <div>
          Apparently we had reached a great height in the atmosphere
        </div>
        <div>
          <a href="">Jetzt ansehen</a>
        </div>
      </div>

      <div class="pl-content-item__bottom p-2 d-flex">
        <div>Bookmark</div>
        <ul class="ml-auto d-flex list-unstyled text-black-50">
          <li class="ml-2">
            <span class="pl-icon-plug-a mr-1"></span>
            <span>23</span>
          </li>
          <li class="ml-2">
            <span class="fa fa-eye  mr-1"></span>
            <span>4T</span>
          </li>
          <li class="ml-2">
            <span class="far fa-comment-alt mr-1"></span>
            <span>12</span>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>