<div class="pl-content-card shadow-sm m-5">
  <div class="p-3">
    <div class="form-group">
      <h6 class="font-weight-bold">
        <span>Connect </span>
        <a href="#"> selected 10 items </a>
        <span>to this list</span>
      </h6>
      <div class="input-group pl-input-group pl-input-group--left">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">
            <span class="fa fa-search"></span>
          </span>
        </div>
        <input type="text" class="form-control" placeholder="Search for lists">
      </div>
    </div>

    <ul class="list-unstyled m-0">
      <li>
        <div class="custom-control custom-checkbox pl-custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customControlAutosizing" checked>
          <label class="custom-control-label" for="customControlAutosizing">Bookmarks</label>
        </div>
      </li>
      <li>
        <div class="custom-control custom-checkbox pl-custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customControlAutosizing" checked>
          <label class="custom-control-label" for="customControlAutosizing">Selected list 2</label>
        </div>
      </li>
    </ul>
  </div>

  <hr class="m-0">

  <div class="p-3">
    <ul class="list-unstyled m-0">
      <li>
        <div class="custom-control custom-checkbox pl-custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customControlAutosizing">
          <label class="custom-control-label" for="customControlAutosizing">DCI Test</label>
        </div>
      </li>
      <li>
        <div class="custom-control custom-checkbox pl-custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customControlAutosizing">
          <label class="custom-control-label" for="customControlAutosizing">Liifestyle - Restaurant</label>
        </div>
      </li>
      <li>
        <div class="custom-control custom-checkbox pl-custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customControlAutosizing">
          <label class="custom-control-label" for="customControlAutosizing">DCI MEdia - ITK Highlights</label>
        </div>
      </li>
    </ul>
  </div>
  <hr class="m-0">
  <div class="p-3">
    <label class="font-weight-bold">Last used lists</label>
    <ul class="list-unstyled m-0">
      <li>
        <div class="custom-control custom-checkbox pl-custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customControlAutosizing">
          <label class="custom-control-label" for="customControlAutosizing">Bookmarks</label>
        </div>
      </li>
      <li>
        <div class="custom-control custom-checkbox pl-custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customControlAutosizing">
          <label class="custom-control-label" for="customControlAutosizing">Selected list 2</label>
        </div>
      </li>
    </ul>

    <div class="my-3">
      <a class="" href="#">Create new list</a>
      <span> | </span>
      <a class="" href="#">Manage lists</a>
    </div>

    <div>
      <button type="button" class="btn btn-primary btn-sm text-uppercase mr-1">Connect</button>
      <button type="button" class="btn btn-light btn-sm text-uppercase">Cancel</button>
      <span class="text-muted-2 float-right">Tips</span>
    </div>
  </div>
</div>

<div class="pl-content-card shadow-sm m-5">
  <div class="p-3">
    <div class="form-group">
      <label class="font-weight-bold">
        Create new list
      </label>
      <input type="text" class="form-control" placeholder="List name">
    </div>
    <div class="form-group">
      <label class="font-weight-bold">Under group</label>
      <select name="" id="" class="form-control"></select>
    </div>

    <div class="my-3">
      <a class="" href="#">Create new group</a>
    </div>

    <div>
      <button type="button" class="btn btn-primary btn-sm text-uppercase mr-1">Create</button>
      <button type="button" class="btn btn-light btn-sm text-uppercase">Cancel</button>
      <span class="text-muted-2 float-right">Tips</span>
    </div>
  </div>

</div>