@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600');

html {
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent
}

body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

body {
    // font-family: 'Open Sans', sans-serif;
    font-family: 'Source Sans Pro', sans-serif; // background-color: #F2F3F8;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

app-login,
app-root,
app-home,
.pl-root {
    flex: 1;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 0px;
    display: flex;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}

app-login {
    background-color: $gray-100;
}

.pl-header {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    height: $main-header-height;
    flex: none; // box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
}

.pl-header__left {
    display: flex;
    @include media-breakpoint-up(lg) {
        width: $aside-left-width;
    }
}

.pl-header__center {
    padding: 0.5rem 0;
    margin: 0 .5rem;
    display: flex;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
}

.pl-header__content-title {
    font-size: 1rem;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.pl-header-shadow {
    position: fixed;
    height: $main-header-height;
    z-index: 98;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.pl-header--light {
    background-color: $white;
}


.pl-content-topbar {
    position: fixed;
    height: 2rem;
    top: 3rem;
    left: 0;
    right: 0;
    background-color: rgba(255,255,255,.95);
    z-index: 1; // TODO:
    border-top: 1px solid #F5F5F5;
}

.pl-body {
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 0px;
    flex: 1 0 auto;
    flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    transition: all .3s ease;
}

.pl-header--fixed {
    .pl-header {
        backface-visibility: hidden;
        z-index: 99; // TODO: update z-index by const
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }
    .pl-body {
        padding-top: $main-header-height;
    }
}

.pl-aside-left {
    width: $aside-left-width;
    transition: all .2s ease;
    &.pl-aside-left--skin-dark {
        background-color: $dark;
    }
    &.pl-aside-left--skin-light {
        background-color: $white;
    }
    @include media-breakpoint-down(lg) {
        position: fixed;
        z-index: 1001; // TODO: update this z-index
        top: 0;
        bottom: 0;
        left: -$aside-left-width;
        overflow-y: auto;
    }
    @include media-breakpoint-up(lg) {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 98;
        overflow-y: auto;
        border-right: 1px solid #F5F5F5;
    }
}

.pl-aside-left-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    z-index: 1000;
    background-color: rgba(0, 0, 0, .1);
    display: none; // Hide
}

.pl-aside-left--on {
    @include media-breakpoint-down(lg) {
        .pl-aside-left {
            left: 0;
        }
        .pl-aside-left-overlay {
            display: block;
        }
    }
}

.pl-aside-left--fixed {
    @include media-breakpoint-up(lg) {
        .pl-body {
            padding-left: $aside-left-width;
        }
        .pl-aside-left {
            left: 0;
        }
        .pl-content-topbar {
            left: $aside-left-width;
        }
    }
}

.pl-aside-left--minimize {
    @include media-breakpoint-up(lg) {
        .pl-aside-left {
            left: -$aside-left-width;
        }
        .pl-body {
            padding-left: 0;
        }
        .pl-content-topbar {
            left: 0;
        }
    }
}

.pl-aside-left--fixed.pl-header--fixed {
    @include media-breakpoint-up(lg) {
        .pl-aside-left {
            top: $main-header-height;
        }
        .pl-content-topbar {
            top: $main-header-height;
        }
    }
}

.pl-content-topbar--fixed {
    .pl-body {
        padding-top: calc(#{$main-header-height} + #{$main-content-top-bar-height});
    }
}

.pl-aside-toggler {}

.pl-aside-toggler__btn {
    cursor: pointer;
    display: inline-block;
    padding: 0;
    width: 2rem;
    height: 2rem;
    margin: .5rem;
    line-height: 2rem;
    text-align: center;
    background-color: #F5F5F5;
    border: 0;
    outline: none !important;
}

.pl-brand {
    line-height: $main-header-height;
    font-size: 1.25rem;
    margin: 0 1rem;
}

.pl-brand--plugilo {
    .pl-icon-plug-a {
        position: relative;
        top: 2px;
        margin-right: .25rem;
    }
}

.pl-topbar {
    margin-left: auto;
}

.pl-topbar-nav {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
}

.pl-topbar-nav__item {
    height: 100%;
    padding: 0 .5rem;
}

.pl-topbar-nav__link {
    position: relative;
    display: table;
    table-layout: fixed;
    height: 100%;
    outline: 0;
    vertical-align: middle;
    text-decoration: none !important;
    color: $dark !important;

    >.pl-topbar-nav__link-icon,
    >.pl-topbar-nav__userpic {
        display: table-cell;
        width: 2rem;
        text-align: center;
        vertical-align: middle;
        font-size: 1rem;
    }
    .pl-topbar-nav__link-icon-wrapper {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        vertical-align: middle;
        transition: background-color .3s ease;
        &:hover {
            background: rgba(0, 0, 0, .05);
        }
    }
    >.pl-topbar-nav__link-badge {
        position: absolute;
        left: 50%;
        margin-left: -2px; // top: .125rem;
        top: .25rem;
        text-align: center;
    }
    >.pl-topbar-nav__userpic img {
        display: block;
        width: 2rem;
        height: 2rem;
        object-fit: cover;
    }
}

// TODO: move to utilities
.text-small {
    font-size: .75rem;
}

.text-muted-2 {
    color: $gray-500;
}

.pl-custom-checkbox {
    .custom-control-label {
        line-height: 1.5rem;
    }
}

.pl-input-group {
    .input-group-text {
        background-color: $white;
    }
}

.pl-input-group--left {
    .form-control {
        border-left: 0;
    }
}

.pl-input-group--right {
    .form-control {
        border-right: 0;
    }
}